html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 350px;
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #000;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.section {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}
.section .container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.swiper-wrapper {
  flex: none;
  align-items: flex-start;
  display: flex;
}

.swiper-slide {
  flex: none;
}
.swiper-slide .people__card {
  position: relative;
  overflow: hidden;
  height: 640px;
  background-color: #111b1a;
  border-radius: 11px;
}
@media (max-width: 1699px) {
  .swiper-slide .people__card {
    height: 512px;
  }
}
@media (max-width: 1199px) {
  .swiper-slide .people__card {
    height: 450px;
  }
}
@media (max-width: 991px) {
  .swiper-slide .people__card {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .swiper-slide .people__card {
    height: auto;
  }
}
.swiper-slide .people__card .people__card__image {
  display: inline-block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;
  margin-left: -100px;
  width: 130%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 13px;
  transition: transform 0.7s;
}
.swiper-slide .people__card .people__card__content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  border-radius: 11px;
  transition: 0.3s;
}
.swiper-slide .people__card .people__card__content .slide__number {
  margin-bottom: 30px;
  opacity: 1;
  font-size: 32px;
  font-weight: 300;
  color: #ebefe3;
}
@media (max-width: 1199px) {
  .swiper-slide .people__card .people__card__content .slide__number {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
@media (max-width: 1199px) {
  .swiper-slide .people__card .people__card__content .slide__number {
    font-size: 20px;
  }
}
.swiper-slide .people__card .people__card__content .slide__title {
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #ebefe3;
}
@media (max-width: 1199px) {
  .swiper-slide .people__card .people__card__content .slide__title {
    font-size: 2.4em;
  }
}
@media (max-width: 767px) {
  .swiper-slide .people__card .people__card__content .slide__title {
    font-size: 1.92em;
  }
}
.swiper-slide .people__card .people__card__content .slide__subtitle {
  margin-bottom: 30px;
  max-width: 70%;
  color: #ebefe3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
@media (max-width: 1199px) {
  .swiper-slide .people__card .people__card__content .slide__subtitle {
    font-size: 15px;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .swiper-slide .people__card .people__card__content .slide__subtitle {
    font-size: 14px;
    max-width: 85%;
  }
}
.swiper-slide .people__card .people__card__content .slide__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #ebefe3;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
}
@media (max-width: 767px) {
  .swiper-slide .people__card .people__card__content .slide__btn {
    padding: 10px 20px;
  }
}
.swiper-slide .people__card .people__card__content .slide__btn:hover {
  background-color: #ebefe3;
}
.swiper-slide .people__card .people__card__content .slide__btn:hover .slide__btn__text {
  color: #111b1a;
}
.swiper-slide .people__card .people__card__content .slide__btn:hover .slide__btn__icon path {
  color: #111b1a;
}
.swiper-slide .people__card .people__card__content .slide__btn .slide__btn__text {
  margin-right: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #ebefe3;
  transition: color 0.3s;
}
@media (max-width: 767px) {
  .swiper-slide .people__card .people__card__content .slide__btn .slide__btn__text {
    font-size: 18px;
  }
}
.swiper-slide .people__card .people__card__content .slide__btn .slide__btn__icon {
  width: 15px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .swiper-slide .people__card .people__card__content .slide__btn .slide__btn__icon {
    font-size: 18px;
  }
}
.swiper-slide .people__card .people__card__content .slide__btn .slide__btn__icon path {
  color: #ebefe3;
  transition: 0.3s;
}
.swiper-slide .people__card .slide__gradient {
  position: absolute;
  z-index: 2;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-image: linear-gradient(111deg, #000, rgba(0, 0, 0, 0.15) 60%);
}

.swiper-slide.is-active .people__card__image {
  transform: translateX(100px);
}